<!DOCTYPE html>
<html>
    <head>
        <title>Search Page</title>
        <link rel="stylesheet" href="{{url_for('static', filename='auth.css')}}">
    </head>
    <body>
        <div class="auth-container">
            <h2>Welcome!</h2>
            <h4>Please Log In</h4>
            <form method="POST" action="/login">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Submit</button>
                <button class='secondary' type="button" onclick="location.href='/signup'">Sign Up</button>
            </form>
            {% if error %}
                <p class="error" >{{error}}</p>
            {%endif%}
        </div>
    </body>
</html>