<!DOCTYPE html>
<html>
    <head>
        <title>Search Page</title>
    </head>
    <body>
        <h2>New? Create an account!</h2>
        <h4>Please Sign Up</h4>
        <form method="POST" action="/signup">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email Address">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Submit</button>
        </form>
        <button onclick="location.href='/login'" type="submit">Back</button>
        {% if error %}
            <p style="color: red;" >{{error}}</p>
        {%endif%}
    </body>
</html>